Source: dfkinds
Section: python
Priority: extra
Maintainer: Log2Timeline maintainers <log2timeline-maintainers@googlegroups.com>
Build-Depends: debhelper (>= 9), dh-python, python3-all (>= 3.6~), python3-setuptools
Standards-Version: 4.1.4
X-Python3-Version: >= 3.6
Homepage: https://github.com/log2timeline/dfkinds

Package: python3-dfkinds
Architecture: all
Depends: ${misc:Depends}
Description: Python 3 module of dfKinds
 dfKinds, or Digital Forensics kinds, provides data type and class definitions
 to provide consistent definitions of entities (or description of things) across
 different tools.
